<div>
    <mat-form-field appearance="fill">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Filter by</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="name to filter">
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="sno">   
            <mat-header-cell *matHeaderCellDef> S No. </mat-header-cell>
            <mat-cell *matCellDef="let element;  let i = index"> {{i+1}} </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[20, 50]" showFirstLastButtons></mat-paginator>
</div>
